# Virtual environment
venv/
.env/

# DVC cache 
.dvc/cache/
*.dvc.lock

src/data/*
!src/data/.gitkeep  

__pycache__/
*.pyc
*.pyo
*.pyd

*.log

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db
/random_forest_model.pkl
/etrics
/model_evaluation_metrics.json
